<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/newbery/newbery.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/adelle/adelle.css"
    />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <div
      class="w-100 h-200 ml-[100px] mt-10 relative bg-[url('https://image.shoplive.cloud/shorts/8Nd5iNI7Tii0mZRZbQA6/660377186778743214/card_0/1734504431654.jpg?service=shortform&_ci=430&vid=4119141625503941038&sfid=660377186778743214&ak=8Nd5iNI7Tii0mZRZbQA6&stream_key=430-1VNFuoyyATLurTMrVflCpWrb-an2&source=video')] bg-center bg-cover"
    >
      <!--나중에 영상 넣을 자리
      <video class="absolute inset-0 w-full h-full object-cover z-0" autoplay loop muted>
      <source src="" type="video/mp4">
    </video>-->

      <section class="w-full top-0 p-4 z-10">
        <div class="relative flex items-center">
          <div
            class="w-5 h-5 mr-1 bg-white rounded-full flex items-center justify-center"
          >
            <img
              src="https://static.shoplive.cloud/shoplivejs_assets/media-play-icon.svg"
              alt="플레이 버튼"
            />
          </div>
          <div class="bg-gray-600 h-5 px-2.5 rounded-[17px] flex items-center">
            <img
              class="mr-[2px] mt-[4px] mb-[4px]"
              src="https://static.shoplive.cloud/shoplivejs_assets/view-user-icon.svg"
              alt="시청자 수"
            />
            <div class="mb-[-1px] text-[12px] text-white">153</div>
          </div>
        </div>
      </section>
      <section class="p-4 w-full absolute bottom-0 text-white z-10">
        <div>
          <h3 class="mb-[2px] mt-[4px] leading-[24px] text-[16px]">
            등갈비! 양념 만들 필요 없어요
          </h3>
          <h2 class="mb-[-4px] mt-0 leading-[18px] text-[13px]">
            파마산 고추장만 발라주세요
          </h2>
        </div>
        <div class="min-h-[40px] relative">
          <!-- 왼쪽에 배치 -->
          <div
            class="absolute bottom-0 left-0 flex items-center text-[12px] leading-[16px]"
          >
            <img
              class="w-[24px] h-[24px] mr-[8px] rounded-full"
              src="/public/assets/images/a7fa515a-0154-4894-918c-1ec0073eb40b.png"
              alt="/"
            />
            <p>하랜띵쓰</p>
          </div>
          <!-- 오른쪽 아래에 배치 -->
          <div
            class="absolute bottom-0 right-0 bg-white w-[40px] h-[40px] rounded-full"
          >
            <img src="/public/assets/images/product-2.gif" alt="/" />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
