<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    
    <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

		<script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">

      <!-- Review-item : 이미지 -->
      <fieldset class="border m-4 p-4">
        <legend class="text-20 font-semibold">[Community/Review] 카드형컴포넌트(이미지)</legend>
        <div class="w-[300px] h-[420px] lg:w-[400px] lg:h-[520px] rounded-4xl overflow-hidden bg-hot-ivory">
          <img class="w-full h-full object-cover"  src="/assets/images/noneimg.png" alt="이미지첨부" />
        </div>
      </fieldset>
  </body>
  </html>