<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - pagination2</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
	

  <!-- Pagination2 -->
  <div class="flex items-center justify-center gap-5">
    <a href="#void" aria-label="이전 페이지" class="size-5 lg:size-7">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
      <g id="Group 6">
      <path id="Vector 2" d="M10 4L6 8L10 12" stroke="#000" stroke-width="2" stroke-linecap="round"/>
      </g>
      </svg>              
    </a>
    <ol class="flex items-center font-semibold text-center gap-7 font-newbery" aria-label="페이지 네비게이션">
      <li>
        <a href="#void" aria-label="1페이지, 현재 페이지" aria-current="true" class="text-4xl text-hot-brand">1</a>
      </li>
      <li>
        <a href="#void" aria-label="2페이지" aria-current="false" class="text-2xl lg:text-3xl">2</a>
      </li>
      <li>
        <a href="#void" aria-label="3페이지" aria-current="false" class="text-2xl lg:text-3xl">3</a>
      </li>
    </ol>
    <a href="#void" aria-label="다음 페이지" class="size-5 lg:size-7">
      <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
      <g id="Group 6">
      <path id="Vector 2" d="M6 12L10 8L6 4" stroke="#000" stroke-width="2" stroke-linecap="round"/>
      </g>
      </svg>              
    </a>
  </div>


</body>
</html>
