<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="/vite.svg" />
  <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
  
  <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
  <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
  <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
  <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">

	<!-- hashtag -->
	<span class="inline-block px-4 py-2 md:px-[18px] md:py-[10px] rounded-[50px] bg-black/50 text-(length:--text-15) md:text-(length:--text-17) md:font-medium"># 맛피아핫소스🤯</span>

</body>
</html>