<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HASHTAG - COMPONENT</title>
    <link rel="icon" href="/assets/images/favicon.webp" type="image/png" />

    <link
      rel="preload"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf"
      as="font"
      type="font/otf"
      crossorigin
    />

    <link
      rel="stylesheet"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css" />
    <link
      rel="stylesheet"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css" />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <h1 class="sr-only">HASHTAG - COMPONENT</h1>

    <fieldset class="p-4 m-4 border">
      <legend class="font-semibold text-20">[Community-Napoli] hashtag</legend>

      <!-- hashtag -->
      <span
        class="inline-block px-4 py-2 md:px-[18px] md:py-[10px] rounded-[50px] bg-black/50 text-(length:--text-15) md:text-(length:--text-17) md:font-medium"
        ># 맛피아핫소스🤯</span
      >
    </fieldset>
  </body>
</html>
