<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    
    <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

		<script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <!-- Pagination -->
    <div class="flex gap-2 justify-center mt-6 text-13">
      <button class="bg-white p-2 size-8 rounded-md flex items-center justify-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 7">
          <g id="Group 888">
          <path id="Vector 2" d="M13 4L9 8L13 12" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          <path id="Vector 3" d="M7 4L3 8L7 12" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
          </g>
          </svg>              
      </button>
      <button class="bg-white p-2 size-8 rounded-md flex items-center justify-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 6">
          <path id="Vector 2" d="M10 4L6 8L10 12" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
        </svg>
      </button><button class="bg-hot-gray400 text-white p-2 size-8 rounded-md flex items-center justify-center">
        1            
      </button>
      <button class="bg-white text-hot-gray400 p-2 size-8 rounded-md flex items-center justify-center">
        2            
      </button>
      <button class="bg-white text-hot-gray400 p-2 size-8 rounded-md flex items-center justify-center">
        3            
      </button>
      <button class="bg-white p-2 size-8 rounded-md flex items-center justify-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 6">
          <path id="Vector 2" d="M6 12L10 8L6 4" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
          </svg>                
      </button>
      <button class="bg-white p-2 size-8 rounded-md flex items-center justify-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 7">
          <g id="Group 888">
          <path id="Vector 2" d="M3 12L7 8L3 4" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          <path id="Vector 3" d="M9 12L13 8L9 4" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
          </g>
          </svg>              
      </button>
    </div>
  </body>
  </html>