<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - reveiw</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
	

  <div class="flex flex-col overflow-hidden border-hot-gray100 border-1 rounded-2xl">
    <div class="overflow-hidden bg-hot-ivory aspect-square">
      <img src="/assets/images/intro-1.jpg" class="w-full h-full cover" alt="리뷰대표이미지" />
    </div>
    <div class="p-4 space-y-1 sm:space-y-2">
      <p>⭐⭐⭐⭐⭐</p>
      <p class="font-medium truncate">
        Review text Review text Review text Review text Review text Review text
      </p>
      <p class="font-medium text-hot-gray300">Reviewer</p>
    </div>
    <div class="flex gap-2 p-4 font-medium border-t border-hot-gray100 itmes-center text-13">
      <div class="aspect-square max-w-12">
        <img src="/assets/images/product-all.png" alt="상품이미지"/>
      </div>
      <div class="flex flex-col justify-center w-full min-w-0 gap-2">
        <p class="truncate min-h-4">Product Title</p>
        <p class="flex items-center justify-between">
          <span>평점 0.0</span>
          <span>리뷰 000</span>
        </p>
      </div>
    </div>
  </div>

    
</body>
</html>
