<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - review text</title>
	<link rel="icon" href="/assets/images/favicon.png" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>

  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>
	
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">


  <!-- Review-item : 텍스트 -->
  <fieldset class="border m-4 p-4">
    <legend class="text-20 font-semibold">[Community-Review] 카드형컴포넌트(텍스트)</legend>
    <div class="w-[300px] h-[420px] lg:w-[400px] lg:h-[520px] rounded-4xl bg-hot-ivory overflow-hidden py-8 px-14 flex flex-col gap-4 items-center justify-center">
      <img src="/assets/images/symbol.png" alt="하랜띵스심볼" />
      <div class="text-center space-y-8 keep-all">
        <h3 class="text-26 lg:text-33 font-bold font-newbery leading-[1.3]">Product title</h3>
        <p class="text-15 lg:text-20 font-medium">Review text Review text Review text Review text Review text Review text Review text Review text Review text</p>
        <p class="text-13 text-hot-gray300">Reviewer</p>
      </div>
    </div>
  </fieldset>


</body>
</html>
