<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    
    <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

		<script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans p-10 bg-hot-ivory">
    <details class="text-15 font-semibold break-keep">
      <summary class="grid grid-cols-3 sm:grid-cols-6 py-7 lg:py-10 bg-white border-b-1 border-hot-gray100">
        <p class="col-span-1 text-center text-hot-gray500">항목</p>
        <p class="col-span-2 sm:col-span-5 px-4">질문내용</p>
      </summary>
      <div class="grid grid-cols-6 bg-hot-white100 py-7 lg:py-10 border-b-1 border-hot-gray100">
        <p class="hidden sm:block sm:col-span-1"></p>
        <p class="col-span-6 sm:col-span-5 px-4">
          질문 답변 공간
        </p>
      </div>
    </details>
  </body>
  </html>