<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-amber-300">
    <section class="relative w-full box-border block mx-auto">
      <div class="relative w-full mx-auto my-0 z-10 bg-amber-600">
        <div class="wood-section relative">
          
          <div
            class="wood-bg"
          ></div>
      </div>
        <!-- 왼쪽 선반 이미지 -->
        <div
          class="hidden lg:block absolute left-0 top-1/2 -translate-y-1/2 w-[30%] max-w-[452px]"
        >
          <img
            src="/public/assets/left-showcase.png"
            alt=""
            class="w-full align-top"
          />
        </div>
        <!-- 오른쪽 선반 이미지 -->
        <div
          class="hidden lg:block absolute right-0 top-1/2 -translate-y-1/2 w-[30%] max-w-[452px]"
        >
          <img
            src="/public/assets/right-showcase.png"
            alt=""
            class="w-full align-top"
          />
        </div>
        <!-- 중앙 옷장 이미지 -->
        <div class="w-[100%] lg:w-[40%] mx-auto relative">
          <img
            src="/public/assets/showcase.png"
            alt=""
            class="w-full align-top"
          />
        <ul class="block list-disc my-4 mx-0 pl-10 w-[40%] bg-lime-500">
          <li class="list-none list-item">
            <div class="top-[21%] left-[31%] absolute w-[11%]">
              <img
                src="/public/assets/pyogo.png"
                alt=""
                class="w-full align-top"
              />
              <img
                src="/public/assets/3b216110d51cb6705e7fa96281a0e8f2.gif"
                alt=""
                class="w-full align-top border-0 hidden"
              />
              <div class="top-[120%] left-[12%] absolute w-[80%]">
                <img
                  src="/public/assets/PYOGORUFFLE-nametag.png"
                  alt=""
                  class="w-full align-top"
                />
              </div>
            </div>
          </li>
          <li class="list-none list-item">
            <div class="top-[46.4%] left-[31%] absolute w-[11%]">
              <img
                src="/public/assets/parmesan.png"
                alt=""
                class="w-full align-top"
              />
              <img
                src="/public/assets/parmesan-gif.gif"
                alt=""
                class="w-full align-top border-0 hidden"
              />
              <div class="top-[120%] left-[12%] absolute w-[80%]">
                <img
                  src="/public/assets/PARMESANGOCHUJANG-nametag.png"
                  alt=""
                  class="w-full align-top"
                />
              </div>
            </div>
          </li>
          <li class="list-none list-item">
            <div class="top-[71.8%] left-[31%] absolute w-[11%]">
              <img
                src="/public/assets/shrimp.png"
                alt=""
                class="w-full align-top"
              />
              <img
                src="/public/assets/parmesan-gif.gif"
                alt=""
                class="w-full align-top border-0 hidden"
              />
              <div class="top-[120%] left-[12%] absolute w-[80%]">
                <img
                  src="/public/assets/PARMESANGOCHUJANG-nametag.png"
                  alt=""
                  class="w-full align-top"
                />
              </div>
            </div>
          </li>
        </ul>
        <ul class="block list-disc my-4 mx-0 pl-10">
          <li class="list-none list-item">
            <div class="top-[21%] right-[31.3%] absolute w-[11%]">
              <img
                src="/public/assets/pyogo.png"
                alt=""
                class="w-full align-top"
              />
              <img
                src="/public/assets/3b216110d51cb6705e7fa96281a0e8f2.gif"
                alt=""
                class="w-full align-top border-0 hidden"
              />
              <div class="top-[120%] left-[12%] absolute w-[80%]">
                <img
                  src="/public/assets/PYOGORUFFLE-nametag.png"
                  alt=""
                  class="w-full align-top"
                />
              </div>
            </div>
          </li>
          <li class="list-none list-item">
            <div class="top-[46.4%] right-[31.3%] absolute w-[11%]">
              <img
                src="/public/assets/parmesan.png"
                alt=""
                class="w-full align-top"
              />
              <img
                src="/public/assets/parmesan-gif.gif"
                alt=""
                class="w-full align-top border-0 hidden"
              />
              <div class="top-[120%] right-[9%] absolute w-[80%]">
                <img
                  src="/public/assets/PARMESANGOCHUJANG-nametag.png"
                  alt=""
                  class="w-full align-top"
                />
              </div>
            </div>
          </li>
          <li class="list-none list-item">
            <div class="top-[71.8%] right-[31.3%] absolute w-[11%]">
              <img
                src="/public/assets/shrimp.png"
                alt=""
                class="w-full align-top"
              />
              <img
                src="/public/assets/parmesan-gif.gif"
                alt=""
                class="w-full align-top border-0 hidden"
              />
              <div class="top-[120%] left-[12%] absolute w-[80%]">
                <img
                  src="/public/assets/PARMESANGOCHUJANG-nametag.png"
                  alt=""
                  class="w-full align-top"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="wood-bg h-[28vw] w-full absolute bottom-0 left-0 z-0 font-newbery text-20 font-bold">
        <div class="rolling-txt-bg w-full absolute top-0 left-0 z-1 -translate-y-full">
          <div class="roll-wrap bg-black text-white"></div>
        </div>
      </div>
    </section>
  </body>
</html>
