<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <header class="font-sans">
      <p class="text-12 text-white bg-hot-brown text-center py-1.5">
        <span class="text-13 font-bold">[COUPON]</span> 
        카카오 채널 추가 시 무료배송 쿠폰 지급
      </p>
      <div class="menu-mobile lg:hidden relative bg-hot-ivory border-b border-1 p-4">
        <ul class="flex justify-between">
          <li>
            <a href="#void" class="size-5">
              <img src="/assets/icon/menu.svg" alt="메뉴보기" />
            </a>
          </li>
          <li>
            <a href="#void" class="size-5">
              <img src="/assets/icon/cart.svg" alt="장바구니바로가기" />
            </a>
          </li>
        </ul> 
        <a href="#void" class="block w-32 absolute left-1/2 top-1/2 -translate-1/2 -translate-y-1/2">
          <img src="/assets/logo.png" alt="하랜띵스로고" />
        </a>
      </div>
      <nav class="menu-pc hidden lg:flex lg:justify-between relative text-black text-16 font-bold bg-hot-ivory border-b border-1 px-6">
        <ul class="flex">
          <li class="relative">
            <a href="#void" class="p-6 block">ABOUT</a>
            <ul class="pb-6 w-dvw absolute bg-hot-ivory bg-hot-ivory">
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">OUR BRAND</a>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">INQUIRY</a>
              </li>
            </ul>
          </li>
          <li class="relative">
            <a href="#void" class="p-6 block">SHOP</a>   
            <ul class="pb-6 w-dvw absolute bg-hot-ivory">
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300 flex gap-4 items-center">
                <a href="#void">ALL PRODUCTS</a>
                <p class="text-14 opacity-20">한 입으로 당신의 매 순간에 특별함을 더해주는 하랜띵스</p>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300 flex gap-4 items-center">
                <a href="#void">PYOGORUFFLE</a>                
                <p class="text-14 opacity-20">트러플 풍미와 표고의 감칠맛, 화이트와인식초의 산뜻함이 결합된 고급스러운 매운맛</p>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300 flex gap-4 items-center">
                <a href="#void">PARMESAN GOCHUJANG</a>                
                <p class="text-14 opacity-20">고추장의 깊고 진한 매콤함에 더한 치즈의 고소하고 짭쪼름한 풍미</p>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300 flex gap-4 items-center">
                <a href="#void">XO SHRIMP</a>                
                <p class="text-14 opacity-20">청양고추를 넣은 알싸한 간장 베이스에 새우로 감칠맛을 끌어올린 단짠 매력</p>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300 flex gap-4 items-center">
                <a href="#void">HOTN'THINGS KIT</a>                
                <p class="text-14 opacity-20">일상에 미슐랭급 풍미를 선사할 하랜띵스의 대표 소스 3종 세트</p>
              </li>
              <li class="mt-20 px-6">
                <p class="font-newbery text-14 font-bold opacity-20 leading-6">HOTN'THINGS exists to spread the concept of 'HOT' around the world.<br>This 'HOT' is not only the realm of the taste sense, but it is also the realm<br>of the sixth sense that is somehow fun and exciting.<br>Experience the thrill of everyday life created by HOTN’THINGS!</p></li>
            </ul>
          </li>
          <li class="relative">
            <a href="#void" class="p-6 block">COMMUNITY</a>      
            <ul class="pb-6 absolute bg-hot-ivory">
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">EVENT</a>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">RECIPES & PARING</a>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">NAPOLI MATFIA</a>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">REVIEW</a>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">FAQ</a>
              </li>
              <li class="px-6 py-1.5 hover:text-hot-main transition-all duration-300">
                <a href="#void">1:1 Q&A</a>
              </li>
            </ul>
          </li>
        </ul>         
        <ul class="flex">
          <li class="relative">
            <a href="#void" class="p-6 block">SEARCH</a>
          </li>
          <li class="relative">
            <a href="#void" class="p-6 block">CART</a>
          </li>
          <li class="relative">
            <a href="#void" class="p-6 block">JOIN/LOGIN</a>
          </li>
        </ul> 
        <a href="#void" class="block w-32 lg:w-56 absolute left-1/2 -translate-x-1/2 pt-3">
          <img src="/assets/logo.png" alt="하랜띵스로고" />
        </a>
      </nav>
    </header>
  </body>
  <body></body>
</html>
