<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title</title>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <section class="relative h-screen bg-gray-500">
      <!-- 선반 컨테이너 - 바닥에 고정됨 -->
      <div
        class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-full max-w-md"
      >
        <!-- 선반 이미지  -->
        <img
          src="/public/assets/wood-frame2.jpg"
          alt=""
          class="absolute bottom-0 left-1/2 transform -translate-x-1/2 h-7/12 w-full max-w-md -z-10"
        />
        <img
          src="/public/assets/showcase.png"
          alt="Hot Things Shelf"
          class="w-full"
        />

        <!-- 소스병 컨테이너 - 선반 위에 절대 위치로 배치 -->
        <div class="absolute inset-0">
          <!-- 첫 번째 줄 소스병 -->
          <div
            class="absolute top-1/4 left-[30%] transform -translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/pyogo.png"
              alt="Extra Spicy Sauce"
              class="w-16"
            />
          </div>
          <div
            class="absolute top-1/4 right-[30%] transform translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/pyogo.png"
              alt="Extra Spicy Sauce"
              class="w-16"
            />
          </div>

          <!-- 첫 번째 줄 레이블 -->
          <div
            class="absolute top-[42%] left-[30%] transform -translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/PYOGORUFFLE-nametag.png"
              alt="Extra Spicy Label"
              class="w-16"
            />
          </div>
          <div
            class="absolute top-[42%] right-[30%] transform translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/PYOGORUFFLE-nametag.png"
              alt="Extra Spicy Label"
              class="w-16"
            />
          </div>

          <!-- 두 번째 줄 소스병 -->
          <div
            class="absolute top-1/2 left-[30%] transform -translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/parmesan.png"
              alt="Medium Sauce"
              class="w-16"
            />
          </div>
          <div
            class="absolute top-1/2 right-[30%] transform translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/parmesan.png"
              alt="Medium Sauce"
              class="w-16"
            />
          </div>

          <!-- 두 번째 줄 레이블 -->
          <div
            class="absolute top-[67%] left-[30%] transform -translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/PARMESANGOCHUJANG-nametag.png"
              alt="Medium Label"
              class="w-16"
            />
          </div>
          <div
            class="absolute top-[67%] right-[30%] transform translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/PARMESANGOCHUJANG-nametag.png"
              alt="Medium Label"
              class="w-16"
            />
          </div>

          <!-- 세 번째 줄 소스병 -->
          <div
            class="absolute top-3/4 left-[30%] transform -translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/53451e197765b700c21b38bc44dae0c7 (1).png"
              alt="Mild Sauce"
              class="w-52"
            />
          </div>
          <div
            class="absolute top-3/4 right-[30%] transform translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/53451e197765b700c21b38bc44dae0c7 (1).png"
              alt="Mild Sauce"
              class="w-52"
            />
          </div>

          <!-- 세 번째 줄 레이블 -->
          <div
            class="absolute top-[92%] left-[30%] transform -translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/XOSHRIMP-nametag.png"
              alt="Mild Label"
              class="w-16"
            />
          </div>
          <div
            class="absolute top-[92%] right-[30%] transform translate-x-1/2 -translate-y-1/2"
          >
            <img
              src="/public/assets/XOSHRIMP-nametag.png"
              alt="Mild Label"
              class="w-16"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
