<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - showcase</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
	

  <!-- showcase start -->
  <section class="w-full">
    <div class="relative w-full">
      <!-- 왼쪽 선반 이미지 -->
      <div class="hidden lg:block absolute left-0 top-1/2 -translate-y-1/2 w-[30%] max-w-[452px] z-1" aria-hidden="true">
        <img src="/public/assets/images/left-showcase.png" loading="lazy" alt="좌측 선반" aria-hidden="true" class="w-full align-top"/>
      </div>

      <!-- 오른쪽 선반 이미지 -->
      <div class="hidden lg:block absolute right-0 top-1/2 -translate-y-1/2 w-[30%] max-w-[452px] z-1" aria-hidden="true">
        <img src="/public/assets/images/right-showcase.png" loading="lazy" alt="우측 선반" aria-hidden="true" class="w-full align-top"/>
      </div>

      <!-- 중앙 쇼케이스 이미지 -->
      <div class="w-full lg:w-[40%] mx-auto relative z-1">
        <img src="/public/assets/images/showcase.png" loading="lazy" alt="쇼케이스" class="w-full align-top"/>
        <ul class="pl-10 w-[40%]">
          <li>
            <div class="top-[19%] left-[21%] absolute w-[33%] group">
              <img src="/public/assets/images/product-1.png" loading="lazy" alt="표고러플" class="w-full align-top group-hover:hidden"/>
              <img src="/public/assets/images/product-1.gif" loading="lazy" alt="회전하는 표고러플" class="hidden w-full align-top group-hover:block"/>
              <div class="top-[102%] left-[35%] absolute w-[24.5%]">
                <img src="/public/assets/images/PYOGORUFFLE-nametag.png" loading="lazy" alt="표고러플 네임태그" class="w-full align-top"/>
              </div>
            </div>
          </li>
          <li>
            <div class="top-[44%] left-[21%] absolute w-[33%] group">
              <img src="/public/assets/images/product-2.png" loading="lazy" alt="파마산고추장" class="w-full align-top group-hover:hidden"/>
              <img src="/public/assets/images/product-2.gif" loading="lazy" alt="회전하는 파마산고추장" class="hidden w-full align-top group-hover:block"/>
              <div class="top-[103%] left-[35%] absolute w-[25%]">
                <img src="/public/assets/images/PARMESANGOCHUJANG-nametag.png" loading="lazy" alt="파마산고추장 네임태그" class="w-full align-top"/>
              </div>
            </div>
          </li>
          <li>
            <div class="top-[69.5%] left-[21%] absolute w-[33%] group">
              <img src="/public/assets/images/product-3.png" loading="lazy" alt="XO쉬림프" class="w-full align-top group-hover:hidden"/>
              <img src="/public/assets/images/product-3.gif" loading="lazy" alt="회전하는 XO쉬림프" class="hidden w-full align-top border-0 group-hover:block"/>
              <div class="top-[103.5%] left-[35%] absolute w-[25%]">
                <img src="/public/assets/images/XOSHRIMP-nametag.png" loading="lazy" alt="XO쉬림프 네임태그" class="w-full align-top"/>
              </div>
            </div>
          </li>
          <li>
            <div class="top-[19%] left-[47.7%] absolute w-[33%] group">
              <img src="/public/assets/images/product-1.png" loading="lazy" alt="표고러플" class="w-full align-top group-hover:hidden"/>
              <img src="/public/assets/images/product-1.gif" loading="lazy" alt="회전하는 표고러플" class="hidden w-full align-top group-hover:block"/>
              <div class="top-[102%] left-[35%] absolute w-[24.5%]">
                <img src="/public/assets/images/PYOGORUFFLE-nametag.png" loading="lazy" alt="표고러플 네임태그" class="w-full align-top"/>
              </div>
            </div>
          </li>
          <li>
            <div class="top-[44%] left-[47.7%] absolute w-[33%] group">
              <img src="/public/assets/images/product-2.png" loading="lazy" alt="파마산고추장" class="w-full align-top group-hover:hidden"/>
              <img src="/public/assets/images/product-2.gif" loading="lazy" alt="회전하는 파마산고추장" class="hidden w-full align-top group-hover:block"/>
              <div class="top-[103%] left-[35%] absolute w-[25%]">
                <img src="/public/assets/images/PARMESANGOCHUJANG-nametag.png" loading="lazy" alt="파마산고추장 네임태그" class="w-full align-top"/>
              </div>
            </div>
          </li>
          <li>
            <div class="test top-[69.5%] left-[47.7%] absolute w-[33%] group">
              <img src="/public/assets/images/product-3.png" loading="lazy" alt="XO쉬림프" class="w-full align-top group-hover:hidden"/>
              <img src="/public/assets/images/product-3.gif" loading="lazy" alt="회전하는 XO쉬림프" class="hidden w-full align-top border-0 group-hover:block"/>
              <div class="top-[103.5%] left-[35%] absolute w-[25%]">
                <img src="/public/assets/images/XOSHRIMP-nametag.png" loading="lazy" alt="XO쉬림프 네임태그" class="w-full align-top"/>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="h-[80vw] lg:h-[28vw] w-full absolute bottom-0 left-0 z-0 bg-(image:--wood-bg) bg-center bg-no-repeat bg-cover">
        <div class="absolute top-0 left-0 w-full overflow-hidden -translate-y-full bg-black z-1">
          <p class="text-white animate-roll before:content-[var(--roll-text)] before:text-[var(--roll-font-size)] before:tracking-[var(--roll-letter-spacing)] before:py-[var(--roll-padding)] font-bold anflex whitespace-nowrap font-newbery text-20"></p>
        </div>
      </div>
    </div>
  </section>
  <!-- showcase end -->


</body>
</html>
