<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>main-footer</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    
    <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

		<script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">

    <footer class="bg-hot-gray200 text-white">
      <div>
        <a href="/" class="w-[100px]">
          <img src="/public/assets/images/logo.png" alt="HOTN'THINGS" />
        </a>
      </div>

      
      <div>
        <p>채팅상담 운영 | 1522-1874</p>
        <p>Mon-Fri 10:00 - 17:00 (Lunch: pm 12:20 - 13:30)
        <p>Sat &amp; Sun, Holiday off</p>
      </div>


      <ul>
        <li><a href="">제휴 파트너 문의</a></li>
        <li><a href="">채팅상담</a></li>
        <li><a href="">도움말</a></li>
        <li><a href="">브랜드 소개</a></li>
      </ul>

      <div>
        (주)티엠스마일ㅣ대표자명 이준호ㅣ04779 202호 서울특별시 성동구 상원1길 5 (성수동1가)<br>
        사업자등록번호 172-87-01834 | 통신판매업 신고번호 2024-서울성동-1329<br> 
        개인정보보호책임자 : 김수민ㅣ <a href="/member/agreement.html">이용약관</a> ㅣ <a href="/member/privacy.html">개인정보처리방침</a>
      </div>
    </footer>

  </body>
</html> 