<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - pagination</title>
	<link rel="icon" href="/assets/images/favicon.png" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>

  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
	

  <!-- Common-component : Pagination -->
  <fieldset class="border m-4 p-4">
    <legend class="text-20 font-semibold">[Common-component] Pagination</legend>
    <!-- Pagination -->
    <div class="flex justify-center gap-2 mt-6 text-13">
      <button class="flex items-center justify-center p-2 bg-white rounded-md size-8">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 7">
          <g id="Group 888">
          <path id="Vector 2" d="M13 4L9 8L13 12" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          <path id="Vector 3" d="M7 4L3 8L7 12" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
          </g>
          </svg>              
      </button>
      <button class="flex items-center justify-center p-2 bg-white rounded-md size-8">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 6">
          <path id="Vector 2" d="M10 4L6 8L10 12" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
        </svg>
      </button><button class="flex items-center justify-center p-2 text-white rounded-md bg-hot-gray400 size-8">
        1            
      </button>
      <button class="flex items-center justify-center p-2 bg-white rounded-md text-hot-gray400 size-8">
        2            
      </button>
      <button class="flex items-center justify-center p-2 bg-white rounded-md text-hot-gray400 size-8">
        3            
      </button>
      <button class="flex items-center justify-center p-2 bg-white rounded-md size-8">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 6">
          <path id="Vector 2" d="M6 12L10 8L6 4" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
          </svg>                
      </button>
      <button class="flex items-center justify-center p-2 bg-white rounded-md size-8">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 7">
          <g id="Group 888">
          <path id="Vector 2" d="M3 12L7 8L3 4" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          <path id="Vector 3" d="M9 12L13 8L9 4" stroke="#44556B" stroke-width="2" stroke-linecap="round"/>
          </g>
          </g>
          </svg>              
      </button>
    </div>
  </fieldset>


</body>
</html>
