<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - title</title>
	<link rel="icon" href="/assets/images/favicon.png" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>
  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
	
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">


  <!-- Common-component : title -->
  <fieldset class="border m-4 p-4">
    <legend class="text-20 font-semibold">[Common-component] COMMUNITY TITLE</legend>
    <h2 class="text-30 lg:text-35 font-bold font-newbery">COMMUNITY TITLE</h2>
  </fieldset>


</body>
</html>