<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - nametag</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
<!-- Common-component : Btn -->
<fieldset class="border m-4 p-4">
  <legend class="text-20 font-semibold">[Common-component] Tag</legend>
  <h2 class="py-2 font-newbery bg-black text-white w-[120px] lg:w-[150px] text-center font-semibold lg:text-17">Title</h2>
</fieldset>

</body>
</html>
