<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - review title</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
  <!-- Common-component : Btn -->
  <fieldset class="border m-4 p-4">
    <legend class="text-20 font-semibold">[Common-component] COMMUNITY TITLE</legend>
    <h2 class="text-30 lg:text-35 font-bold font-newbery">COMMUNITY TITLE</h2>
  </fieldset>
</body>
</html>