<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    
    <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

		<script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <select name="product-option" id="product-option" class="w-full bg-white border-hot-gray100 border-1 py-2 px-5 text-15">
      <option value="default">-[필수] 옵션을 선택해주세요 -</option>
      <option value="" disabled>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</option>
      <option value="" disabled class="font-bold">수량</option>
      <option value="optionA">옵션A</option>
      <option value="optionB">옵션B</option>
      <option value="optionC">옵션C</option>
      <option value="optionD">옵션D</option>
    </select>
  </body>
  </html>