<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/newbery/newbery.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/adelle/adelle.css"
    />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-hot-ivory">
    <section class="pt-[140px] max-[959px]:pt-[80px]">
      <div class="text-center w-[calc(100%-32px)]">
        <p
          class="text-[#EE2523] text-[75px] font-gastro font-normal mb-[34px] max-[959px]:text-[26px] max-[959px]:mb-[20px]"
        >
          VERSATILE HOT SAUCE
        </p>
        <span
          class="font-pretendard font-semibold text-[18px] max-[959px]:text-[14px]"
          ><strong>기성 핫소스에서 느낄 수 없는</strong
          ><br class="hidden max-[959px]:block" />
          고급스러운 풍미와 감칠맛을 다양하게 즐겨보세요</span
        >
      </div>
      <div class="mt-[120px] mb-0 mr-auto ml-auto flex justify-center">
        <img
          class="max-w-[1280px] max-[959px]:w-[500px] object-contain"
          src="/public/assets/images/sec6.gif"
          alt="/"
        />
      </div>
    </section>
  </body>
</html>
