<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - section13</title>
	<link rel="icon" href="/assets/images/favicon.png" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>
  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
	
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">

  
  <!-- 권혁만 셰프 / 식품기술사 섹션 -->
  <section aria-labelledby="shop-product-section13" class="relative w-full pt-[60%] px-0 pb-[70px] bg-(image:--sec11-bg) bg-no-repeat bg-top bg-cover lg:py-[80px] lg:px-0 lg:bg-none lg:bg-hot-gray200" >
    <h2 class="sr-only" id="shop-product-section13">하랜띵스 제작자</h2>
    <div class="relative w-[calc(100%-32px)] mx-auto flex flex-col justify-center z-10 lg:flex-row lg:gap-x-[80px] lg:bg-hot-gray200" >
      <!-- 텍스트 영역 -->
      <div class="text-white">
        <span class="inline-block text-14 font-gastro opacity-40" >MADE BY</span >
        <h4 id="chef-intro" class="text-[28px] my-3.5 font-semibold"> 권혁만 셰프 / 식품기술사 </h4>
        <h5 class="flex items-center mb-10 font-normal text-15 text-hot-brand" >
          미슐랭 3스타 레스토랑 출신
          <img src="/public/assets/images/MichelinStar.png" alt="별" aria-hidden="true" class="ml-2.5 w-2.5" />
          <img src="/public/assets/images/MichelinStar.png" alt="별" aria-hidden="true" class="ml-1.5 w-2.5" />
          <img src="/public/assets/images/MichelinStar.png" alt="별" aria-hidden="true" class="ml-1.5 w-2.5" />
        </h5>
        <p class="pl-3 font-medium border-l-2 border-white text-14">
          미국 Benu(퓨전 한식)
          <br />
          홍콩 Ta Vie(재패니즈 프렌치)
        </p>
        <p class="mt-5 font-medium text-14">
          미슐랭 3스타 레스토랑에서 쌓은 경험을 바탕으로
          <br />
          식품 기술사가 되어 일상에 미슐랭급 풍미를 전합니다.
        </p>
      </div>
      <!-- 이미지 영역 (데스크톱 전용) -->
      <div class="hidden max-w-[260px] lg:block">
        <img src="/public/assets/images/sec11.jpg" alt="권혁만 셰프 프로필 사진" class="w-full" />
      </div>
    </div>
    <!-- 모바일 오버레이 -->
    <div class="absolute inset-0 after:absolute after:inset-0 after:bg-black after:content-[''] after:opacity-70 after:z-1 lg:hidden" ></div>
  </section>


</body>
</html>
