<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/newbery/newbery.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/adelle/adelle.css"
    />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="bg-hot-ivory">
    <div
      class="pt-[160px] pb-[140px] relative max-[959px]:pt-[150px] max-[959px]:pb-[70px]"
    >
      <div class="w-full absolute z-0 max-[969px]:h-[400px]">
        <ul
          class="text-[150px] font-adelle font-black text-[#EE2523] tracking-[4.5px] flex items-center px-2.5 w-[5750px] max-[959px]:text-[100px] max-[959px]:w-[3750px] animate-cardrolling"
        >
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-centerr max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
        </ul>
        <ul
          class="text-[150px] font-adelle font-black text-hot-ivory text-align-center tracking-[4.5px] flex items-center px-2.5 w-[5750px] max-[959px]:text-[100px] max-[959px]:w-[3750px] animate-cardrolling-r"
        >
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
        </ul>
        <ul
          class="text-[150px] font-adelle font-black text-[#EE2523] text-align-center tracking-[4.5px] flex items-center px-2.5 w-[5750px] max-[959px]:text-[100px] max-[959px]:w-[3750px] animate-cardrolling"
        >
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
        </ul>
        <ul
          class="text-[150px] font-adelle font-black text-hot-ivory text-align-center tracking-[4.5px] flex items-center px-2.5 w-[5750px] max-[959px]:text-[100px] max-[959px]:w-[3750px]"
        >
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
          <li
            class="w-[1150px] h-[150px] flex items-center justify-center [-webkit-text-stroke:3px_#EE2523] max-[959px]:h-[100px]"
          >
            HOTN'THINGS
          </li>
        </ul>
      </div>
      <div class="margin-auto flex justify-center transform -rotate-5 z-2">
        <img
          class="max-w-[750px] max-[959px]:w-[500px]"
          src="/public/assets/images/sec3.png"
          alt="/"
        />
      </div>
      <div
        class="mt-[100px] ml-[16px] mr-[16px] text-center max-[959px]:mb-[0px]"
      >
        <p class="mb-[30px] text-[65px] max-[959px]:text-[35px]">
          일상에서 즐기는 <br />
          <strong class="font-semibold">미슐랭급 풍미</strong>
        </p>
        <span class="text-[18px] max-[959px]:text-[14px]"
          >"미슐랭3스타 레스토랑 출신 식품 기술사가 직접 설계해"<br />
          최대치로 끌어올린 식재료 본연의 맛과 감칠맛을 경험해 보세요</span
        >
      </div>
    </div>
  </body>
</html>
