<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - main header</title>
	<link rel="icon" href="/assets/images/favicon.png" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>
  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
	
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">

  
  <!-- SECTION-07 -->
  <section class="pt-20 lg:pt-[140px] px-4 bg-hot-ivory" aria-labelledby="shop-product-section7">
    <h2 id="shop-product-section7" class="sr-only">하랜띵스홍보이미지3</h2>
    <div class="text-center">
      <p class="text-hot-brand font-gastro font-normal mb-5 lg:mb-[34px] text-[26px] lg:text-[75px]"> VERSATILE HOT SAUCE </p>
      <span class="font-sans font-semibold text-14 lg:text-18">
        <strong>기성 핫소스에서 느낄 수 없는 </strong><br class="lg:hidden"/>
        고급스러운 풍미와 감칠맛을 다양하게 즐겨보세요
      </span>
    </div>
    <div class="mt-14 w-[500px] lg:w-full mx-auto">
      <img class="object-contain mx-auto" src="/public/assets/images/sec6.gif" alt="햄버거, 치킨, 피자에 하랜띵스 소스 뿌리는 움직이는 사진" />
    </div>
  </section>

  
</body>
</html>
