<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - section10</title>
	<link rel="icon" href="/assets/images/favicon.webp" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>

  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">
	

  <!-- SECTION-10 -->
  <section aria-labelledby="shop-product-section10">
    <h2 id="shop-product-section10" class="sr-only">하랜띵스HACCP</h2>
    <div class="relative w-full py-20 bg-hot-ivory lg:pt-[170px] lg:pb-[120px]">
      <div class="flex flex-col items-center justify-center mx-auto gap-y-12">
        <!-- 이미지 박스 -->
        <div class="w-full max-w-[400px] relative">
          <div class="w-full">
            <img class="w-full" src="/assets/images/sec9-frame1.webp" alt="제품 프레임 배경" aria-hidden="true"/>
          </div>
          <div class="absolute inset-0 flex items-center justify-center">
            <img src="/assets/images/product-1.webp" alt="안전 공정 제품 이미지" aria-hidden="true"/>
          </div>
          <div class="absolute inset-0 flex items-center justify-center">
            <img src="/assets/images/sec9-frame2.webp" alt="제품 프레임 오버레이" aria-hidden="true"/>
          </div>
        </div>
        <!-- 텍스트 박스 -->
        <div class="items-center text-center">
          <span class="text-18 font-normal lg:text-[24px]">처음부터 마지막까지
            <strong class="font-semibold text-18 lg:text-[24px]">안전하게</strong>
          </span>
          <h3 class="text-[26px] mt-1.5 mb-6 leading-[1.3] font-light font-gastro lg:text-[50px] lg:mt-2.5">SAFETY PROCESS</h3>
          <p class="text-14 font-normal leading-[1.5] lg:text-18">
            원료 선정부터 완제품 출고까지 전 단계에서
            <br />
            HACCP 기준에 의거한 식품 품질 관리 프로세스를 통해
            <br />
            청결하고 엄격하게 제조하였습니다.
          </p>
        </div>
      </div>
    </div>
  </section>

  
</body>
</html>
