<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/newbery/newbery.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/adelle/adelle.css"
    />

  <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <section aria-labelledby="shop-product-section3">
      <h2 id="shop-product-section3" class="sr-only">표고러플홍보이미지1</h2>
      <div class="bg-(image:--sec03-bg) bg-cover bg-center h-[600px] lg:h-screen relative px-4">
        <div class="py-20 text-center text-hot-white100 lg:py-30">
          <p
            class="font-black duration-1000 delay-200 text-14 md:text-30 font-adelle"
          >
            HOTN'THINGS
          </p>
          <h1
            class="my-4 font-normal break-words duration-1000 text-33 sm:text-50 lg:text-100 font-gastro delay-400"
          >
            PYOGORUFFLE
          </h1>
          <span
            class="font-normal duration-1000 font-gastro text-20 lg:text-50 delay-600"
          >
            HOT SAUCE
          </span>
        </div>
      </div>
    </section>
  </body>
</html>
