<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/newbery/newbery.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/adelle/adelle.css"
    />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <section>
      <img
        src="//ecimg.cafe24img.com/pg1019b75431932062/hotnthings/web/hotnthings/prdDetail/main1.jpg"
        alt="/"
      />
      <div
        class="w-[100%] pt-[40px] pb-[30px] bg-black text-white text-center max-[959px]:pt-[20px] max-[959px]:pb-[20px]"
      >
        <h2 class="font-adelle text-[30px]">
          <span class="font-bold max-[959px]:text-[18px]"
            >Spicing Up Your Life,</span
          >
          <br class="hidden max-[959px]:block" />
          <strong
            class="font-black text-[#EE2523] delay-[2000ms] max-[959px]:text-[18px]"
            >HOTN'THINGS</strong
          >
          <span class="font-black max-[959px]:text-[18px]">at Every Bite</span>
        </h2>
        <p
          class="mt-[18px] font-pretendard text-[18px] max-[959px]:mt-[10px] max-[959px]:text-[13px]"
        >
          한 입으로 당신의 매 순간에 특별함을 더해주는 하랜띵스
        </p>
      </div>
    </section>
  </body>
</html>
