<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    
    <link rel="stylesheet" as="style" href="/public/assets/fonts/pretendard/pretendardvariable.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/newbery/newbery.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/gastromond/gastromond.css" />
    <link rel="stylesheet" as="style" href="/public/assets/fonts/adelle/adelle.css" />

		<script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <section aria-labelledby="shop-product-section9">
      <h2 id="shop-product-section9" class="sr-only">하랜띵스의 탄생</h2>
      <div class="bg-hot-yellow bg-[auto_200%] bg-center bg-(image:--sec09-bg) bg-no-repeat lg:bg-repeat lg:bg-(image:--noise-bg) h-[800px] lg:h-auto relative flex items-center justify-center gap-[120px] xl:gap-[160px] py-30 px-8 after:absolute after:inset-0 after:bg-black after:opacity-50 after:content-[''] lg:after:opacity-0">
        <div class="w-[40%] max-w-[600px] hidden lg:block">
          <img src="/assets/images/sec8.gif" alt="치킨에 하랜띵스소스를 뿌리는 모습"/>
        </div>
        <div class="relative space-y-6 text-center text-white lg:text-black lg:text-start break-keep z-1">
          <p class="font-semibold font-newbery text-15 lg:text-20">Perfect Texture for Food</p>
          <h2 class="text-30 font-normal leading-[1.5] md:text-[36px] xl:text-[60px]">
            300번 이상 테스트로<br />
            찾은 <strong>최적의 물성</strong>
          </h2>
          <p class="text-17 font-semibold leading-[1.8]">
            소스의 점도가 낮아질 수록 향은 풍부해집니다. <br />
            하지만 너무 묽은 소스는 먹기에 불편합니다.
          </p>
          <img src="/assets/images/sec8-graph-1.png" alt="소스관련그래프" aria-hidden="true" class="max-w-[200px] lg:hidden mx-auto"/>
      
          <p class="text-15 lg:text-20">
              하랜띵스는 300번 이상의 테스트 끝에 <br />
              먹기 좋으면서도 식재료 본연의 깊은 풍미를<br />
              느낄 수 있는 특별함을 찾아냈습니다<br />
          </p>
          <p class="text-15 leading-[1.8] font-semibold lg:text-20">
            최적의 물성으로 고급 파인다이닝의 향미를<br />
          경험해보세요
          </p>
          <img src="/assets/images/sec8-graph.png" alt="소스관련그래프" aria-hidden="true" class="max-w-[250px] hidden lg:block"/>
        </div>
      </div>
    </section>
  </body>
</html>