<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/newbery/newbery.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link
      rel="stylesheet"
      as="style"
      href="/public/assets/fonts/adelle/adelle.css"
    />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <section
      class="bg-(image:--sec03-bg) bg-cover bg-center h-screen relative px-4"
    >
      <div class="text-center text-hot-white100 py-30 lg:py-10">
        <p
          class="text-14 md:text-30 font-adelle font-black duration-1000 delay-200"
        >
          HOTN'THINGS
        </p>
        <h1
          class="my-4 text-33 sm:text-50 lg:text-100 font-gastro font-normal duration-1000 delay-400 break-words"
        >
          PYOGORUFFLE
        </h1>
        <span
          class="font-gastro font-normal text-20 lg:text-50 duration-1000 delay-600"
        >
          HOT SAUCE
        </span>
      </div>
    </section>
  </body>
</html>
