<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - taste</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">


  <!-- div안의 after:width로 조정(0/20/40/60/80/100) -->
  <div class="flex items-center gap-2">
    <p class="min-w-[40px] text-14">TASTE</p>
    <div class="inline-flex h-3 relative after:content-[''] after:block after:absolute after:left-0 after:top-0 after:h-full after:[background-image:var(--point-dot)] after:bg-no-repeat after:bg-cover after:w-[60%]">
      <img src="/assets/images/point-bg.png" alt="TASTE단계" class="relative"/>
    </div>
  </div>


</body>
</html>