<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - section06</title>
	<link rel="icon" href="/assets/images/favicon.webp" type="image/png">

  <link rel="preload" href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf" as="font" type="font/otf" crossorigin>

  <link rel="stylesheet" href="/public/assets/fonts/pretendard/pretendardvariable.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/gastromond/gastromond.css"/>
  <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css"/>

  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">


  <section aria-labelledby="shop-product-section6">
    <h2 id="shop-product-section6" class="sr-only">표고러플홍보이미지3</h2>
    <div class="w-full h-[600px] lg:h-[70vw] max-h-[100vh] relative flex flex-col justify-between bg-(image:--sec06-bg) bg-no-repeat">
      <img src="/assets/images/sec5-bg-1.webp" alt="초록색테이블" aria-hidden="true" class="w-full min-h-[130px] absolute bottom-0 left-0 object-cover"/>
    
      <div class="text-black text-center pt-14 px-8 space-y-4 break-keep lg:pt-[4.5vw]">
        <p class="font-semibold font-newbery text-12 md:text-16 lg:text-20">PREMIUM INGREDIENTS</p>
        <h2 class="text-25 font-medium leading-[1.3] md:text-4xl xl:text-6xl">
          프리미엄 식재료로 가득 채운<br />
          <strong>풍부한 매운맛</strong>
        </h2>
        <p class="text-14 leading-[1.3] lg:text-18">
          파인다이닝에서 사용하는 고급 원료를 아낌없이 담아 <br />
          다채롭고 고급스러운 풍미의 새로운 매운맛을 제안합니다.<br />
          <br />
          <strong>트러플 페이스트 · 표고농축액 · 엑스트라버진올리브오일<br />
          화이트와인비네거 · 백간장 · 고춧가루 · 큐민<br />
        </strong>
        </p>
      </div>
      <div class="w-full mb-10 overflow-hidden md:mb-0">
        <div class="w-[calc(40% * 5)] flex items-center animate-cardrolling">
          <img src="/assets/images/sec5-slide-pyogo.webp" alt="표고러플재료" aria-hidden="true" class="w-[50%] md:w-[35%] lg:w-[40%] object-contain object-bottom"/>
          <img src="/assets/images/sec5-slide-pyogo.webp" alt="표고러플재료" aria-hidden="true" class="w-[50%] md:w-[35%] lg:w-[40%] object-contain object-bottom"/>
          <img src="/assets/images/sec5-slide-pyogo.webp" alt="표고러플재료" aria-hidden="true" class="w-[50%] md:w-[35%] lg:w-[40%] object-contain object-bottom"/>
          <img src="/assets/images/sec5-slide-pyogo.webp" alt="표고러플재료" aria-hidden="true" class="w-[50%] md:w-[35%] lg:w-[40%] object-contain object-bottom"/>
          <img src="/assets/images/sec5-slide-pyogo.webp" alt="표고러플재료" aria-hidden="true" class="w-[50%] md:w-[35%] lg:w-[40%] object-contain object-bottom"/>
        </div>
      </div>
    </div>
  </section>


</body>
</html>