<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - section04</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">


  <section aria-labelledby="shop-product-section4" class="overflow-x-hidden bg-hot-ivory">
    <h2 id="shop-product-section4" class="sr-only">하랜띵스홍보이미지2</h2>>

    <div class="relative pb-16 overflow-hidden pt-36 lg:pt-40 lg:pb-36">
      <!-- 애니메이션 배경 텍스트 -->
      <div class="absolute z-0 w-full h-[400px] lg:h-[600px] aria-hidden:true">
        <ul class="flex items-center px-2.5 tracking-[4.5px] font-adelle font-black text-hot-brand w-[3750px] lg:w-[5750px] animate-cardrolling text-100 lg:text-150" >
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
        </ul>
        <ul class="flex items-center px-2.5 tracking-[4.5px] font-adelle font-black text-hot-ivory w-[3750px] lg:w-[5750px] animate-cardrolling-r text-100 lg:text-150" >
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
        </ul>
        <ul class="flex items-center px-2.5 tracking-[4.5px] font-adelle font-black text-hot-brand w-[3750px] lg:w-[5750px] animate-cardrolling text-100 lg:text-150" >
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px]"> HOTN'THINGS </li>
        </ul>
        <ul class="flex items-center px-2.5 tracking-[4.5px] font-adelle font-black text-hot-ivory w-[3750px] lg:w-[5750px] animate-cardrolling-r text-100 lg:text-150" >
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
          <li class="flex items-center justify-center h-[100px] lg:h-[150px] [-webkit-text-stroke:3px_#EE2523]" > HOTN'THINGS </li>
        </ul>
      </div>

      <!-- 이미지 -->
      <div class="flex justify-center mx-4 transform -rotate-5 z-2 overflow-visible h-[400px] lg:h-[600px]" >
        <img class="object-contain w-full h-full" src="/public/assets/images/sec3.png" alt="새우, 감자튀김, 미트볼 등 음식과 함께 하랜띵스" />
      </div>

      <!-- 텍스트 -->
      <div class="mx-4 mt-24 text-center">
        <p class="mb-8 text-35 lg:text-65">
          일상에서 즐기는 <br /><strong class="font-semibold">미슐랭급 풍미</strong>
        </p>
        <span class="text-14 lg:text-18">
          "미슐랭3스타 레스토랑 출신 식품 기술사가 직접 설계해"<br />
          최대치로 끌어올린 식재료 본연의 맛과 감칠맛을 경험해 보세요
        </span>
      </div>
    </div>
  </section>


</body>
</html>
