<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>shop-section11</title>
    <link rel="icon" href="/vite.svg" />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <!-- 폰트 스타일시트 통합 -->
    <link
      rel="stylesheet"
      href="/assets/fonts/pretendard/pretendardvariable.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/assets/fonts/newbery/newbery.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/assets/fonts/gastromond/gastromond.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/assets/fonts/adelle/adelle.css"
      as="style"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="/src/main.js"></script>
  </head>
    <body class="font-sans">
      <section>
        <!-- 전체 영역 -->
        <div class="relative w-full py-20 px-0 text-center bg-[image:var(--symbol-bg)] bg-center bg-cover bg-repeat-y lg:pt-[210px] lg:pb-[175px]">
          <div class="max-w-[500px] lg:max-w-[1000px] w-[calc(100%-32px)] my-0 mx-auto text-center items-center">
            <p class="text-3xl font-normal text-white font-gastro lg:text-5xl">
              SPICING UP
            </p>
            <span class="text-18 mt-4 font-semibold text-white lg:text-2xl lg:mt-[27px]">하랜띵스 라인업</span>
            <ul class="mt-[50px] w-full lg:mt-[72px] text-center items-center">
              <li class="mb-[15px] lg:mb-[38px]">
                <a href="">
                  <img class="w-full hidden lg:block" src="/public/assets/images/sec10-pyogo-pc.png" alt="" />
                  <img class="w-full lg:hidden" src="/public/assets/images/sec10-pyogo-mo.png" alt="" />
                </a>
              </li>
              <li class="mb-[15px]">
                <a href="">
                  <img class="hidden lg:block w-full" src="/public/assets/images/sec10-parmesan-pc.png" alt="" />
                  <img class="lg:hidden w-full" src="/public/assets/images/sec10-parmesan-mo.png" alt="" />
                </a>
              </li>
              <li class="mb-[15px]">
                <a href="">
                  <img class="hidden lg:block w-full" src="/public/assets/images/sec10-shrimp-pc.png" alt="" />
                  <img class="lg:hidden w-full" src="/public/assets/images/sec10-shrimp-mo.png" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </body>
  </html>