<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>COMPONENT - section11</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body class="font-sans">


  <section aria-labelledby="shop-product-section11">
    <h2 class="sr-only" id="shop-product-section11">하랜띵스 라인업</h2>>
    <!-- 전체 영역 -->
    <div class="relative w-full py-20 px-0 text-center bg-[image:var(--symbol-bg)] bg-center bg-cover bg-repeat-y lg:pt-[210px] lg:pb-[175px]">
      <div class="max-w-[500px] lg:max-w-[1000px] w-[calc(100%-32px)] my-0 mx-auto text-center items-center">
        <p class="text-[30px] font-normal text-white font-gastro lg:text-[50px]">
          SPICING UP
        </p>
        <span class="text-18 font-semibold text-white lg:text-[24px] lg:mt-[20px]">하랜띵스 라인업</span>
        <ul class="mt-[50px] w-full lg:mt-[72px] text-center items-center flex flex-col">
          <li class="mb-[15px] order-1 lg:mb-[38px]">
            <a href="/src/pages/shop-pyogo.html" aria-label="표고러플 제품 상세 보기">
              <h3 class="sr-only">표고러플</h3> 
              <img class="hidden w-full lg:block" src="/public/assets/images/sec10-pyogo-pc.png" alt="PC 표고러플 제품 사진" />
              <img class="w-full lg:hidden" src="/public/assets/images/sec10-pyogo-mo.png" alt="모바일 표고러플 제품 사진" />
            </a>
          </li>
          <li class="mb-[15px] order-2">
            <a href="/src/pages/shop-parmesan.html" aria-label="파마산 고추장 제품 상세 보기">
              <img class="hidden w-full lg:block" src="/public/assets/images/sec10-parmesan-pc.png" alt="PC 파마산 고추장 제품 사진" />
              <img class="w-full lg:hidden" src="/public/assets/images/sec10-parmesan-mo.png" alt="모바일 파마산 고추장 제품 사진" />
            </a>
          </li>
          <li class="mb-[15px] order-3">
            <a href="/src/pages/shop-shrimp.html" aria-label="XO 쉬림프 제품 상세 보기">
              <img class="hidden w-full lg:block" src="/public/assets/images/sec10-shrimp-pc.png" alt="PC XO 쉬림프 제품 사진" />
              <img class="w-full lg:hidden" src="/public/assets/images/sec10-shrimp-mo.png" alt="모바일 XO 쉬림프 제품 사진" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>


</body>
</html>
