<!DOCTYPE html>
<html lang="ko-KR" data-page="sub">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PARMESAN - SHOWCASE POPUP</title>
    <link rel="icon" href="/assets/images/favicon.webp" type="image/png" />

    <link
      rel="preload"
      href="/public/assets/fonts/pretendard/woff2/PretendardVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_Bold.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/public/assets/fonts/newbery/fonnts.com-Newbery_Sans_Pro_ExtraLight.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="stylesheet"
      href="/public/assets/fonts/pretendard/pretendardvariable.css"
    />

    <link rel="stylesheet" href="/public/assets/fonts/newbery/newbery.css" />
    <link
      rel="stylesheet"
      href="/public/assets/fonts/gastromond/gastromond.css"
    />
    <link rel="stylesheet" href="/public/assets/fonts/adelle/adelle.css" />

    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <h1 class="sr-only">PARMESAN - SHOWCASE POPUP</h1>
    <div
      class="z-20 w-full min-h-[100vh] p-[22px] bg-(image:--showcase-popup-bg) lg:p-20 content-center"
    >
      <!-- X 닫기  -->
      <div
        class="absolute text-white z-11 top-10 right-10 lg:top-20 lg:right-20"
      >
        <a href="/src/pages/home.html" aria-label="닫기" class="p-2.5">
          <i
            class="before:content-['X'] inline-block scale-y-[0.8] text-[24px] font-normal leading-1 not-italic"
          ></i>
        </a>
      </div>
      <!-- 이미지, 텍스트 박스 -->
      <div class="flex flex-col items-center justify-center w-full h-full">
        <div class="w-full max-w-[750px] px-0 lg:max-w-none">
          <!--  소스 섬네일 -->
          <div
            class="relative flex items-center justify-center w-full h-[75vw] md:h-[55vw] lg:h-auto mx-auto lg:max-w-[1000px] z-2"
          >
            <img
              src="/public/assets/images/product-2.webp"
              alt="파마산 고추장 소스 제품 사진"
              class="absolute h-full z-3"
            />
            <!-- 떠다니는 소스 재료 사진 PC-->
            <img
              src="/public/assets/images/showcase-popup-parmesan.webp"
              alt="파마산 고추장 소스 재료 사진 PC"
              class="hidden lg:block w-full max-w-[1400px] motion-reduce:transition-none animate-bounce-1"
            />
            <!-- 떠다니는 소스 재료 사진 MO -->
            <img
              src="/public/assets/images/showcase-popup-parmesan-MO.webp"
              alt="파마산 고추장 소스 재료 사진 모바일"
              class="h-full motion-reduce:transition-none animate-bounce-1 lg:hidden"
            />
          </div>

          <div class="text-center">
            <!-- 설명 텍스트 -->
            <p
              class="text-14 lg:text-18 font-semibold leading-[1.5] mx-auto my-7 break-keep w-[80%] text-black"
            >
              미슐랭 3스타 레스토랑 출신 식품기술사가 설계한 플레이버를 담다.
              <br />
              고추장의 깊고 진한 매콤함에 더한 치즈의 고소하고 짭쪼름한 풍미
            </p>

            <!-- 현재 상품 구매 -->
            <a
              href="/src/pages/shop-parmesan.html"
              aria-label="파마산 고추장 소스 제품 구매 페이지로 이동"
              class="inline-block w-[calc(100%-32px)] lg:w-full p-3 mx-4 lg:p-4 my-0 text-13 lg:text-20 bg-black text-white max-w-[470px] lg:max-w-[560px] font-semibold font-newbery"
            >
              BUY NOW
            </a>

            <!-- 모든 상품 페이지로 이동 -->
            <a
              href="/src/pages/shop-all_products.html"
              aria-label="모든 제품 상세보기 페이지로 이동"
              class="block my-[35px] mx-auto mb-0 pb-[3px] border-b border-black lg:text-18 w-fit text-4 font-semibold text-black leading-none"
            >
              다른 제품 보러가기
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
